/*--------------------------
  Author:Polina Soshnin
  Group Members: Erin Moy, Lyndsay Coleman
  Email: psoshnin@wellesley.edu
  Created: 03-10-2013
  Description: Stylesheet for project 2 description
---------------------------*/
body {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: small;
background-image: url("lightBlueBackground.jpeg");}

}